@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*===== All and body =====*/

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color:  #4d805e;
  min-height: 100vh;
  overflow-x: hidden;
}



/*===== Responsive Mobile View =====*/

@media screen and (max-width: 650px) {
  .header {
    justify-content: center;
  }

  .nav {
    display: none;
  }
}

/*===== CSS =====*/

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color:  #fafafa;
  text-shadow:8px 8px 16px #274130,
             -8px -8px 16px #73bf8c;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-indent: 100px;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li  {
  list-style: none;
  margin-left: 20px;
  font-weight: 700;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #f8f7f7;
  border-radius: 20px;
  transition: 0.5s;
  font-weight: 700;
}

header ul li a:hover {
 
  color: #d8a3a3;
}

 header .logo:hover {
 
  color: #d8a3a3;
}


.header .logo{
   transition: scale 400ms;
}


.header:hover .logo{
  scale:120%;
  
}

/* Sign in */

.loginbox{
    width: 530px;
    height: 560px;
    background: #ffffff;
     box-shadow:  41px 41px 82px #274130,
                    -41px -41px 82px #73bf8c;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 13%;
  padding-bottom: 100px;
    
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0%;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:#73bf8c;
    color: whitesmoke;
    font-family: sans-serif;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background:#f4f4fe;
    color:  black;
    
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: cornflowerblue;
}
.loginbox a:hover{
    color: black;
}

.avatar {
  width: px;
  height: 100px;
  border-radius: 50%;
}

.loginbox p, h1{
 color:black;
}


/* Card */
.container {
    height: 400px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    
   
}

.profile {
     
        padding: 100px;
        display:flex;
        justify-content: flex-end;
        align-items: flex-start;
        border-radius: 53px;
        background: #4d805e;
        box-shadow:  41px 41px 82px #274130,
                    -41px -41px 82px #73bf8c;
}

.content {

    padding: 10px;
    height: 20vh; /* Adjust the height as needed */
}

.container img{
   
    margin-right: 20px;
    height: 220px;
    width: 300px;
    border-radius: 53px;
    background: #4d805e;
    box-shadow:  41px 41px 82px #274130,
                -41px -41px 82px #73bf8c;

}

.line{
  background-color: #73bf8c;
  height: 3px;
  width: 300px;
  margin-bottom: 3px;
}

h1,h3 ,p {
    color:cornsilk;
    margin-bottom: 7px;
}

h1{
  font-size: 30px;
}

h3{
  font-size: 16px;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  
}



.profile{
  overflow: hidden;
}

.profile img{
  transition: scale 400ms;
}


.profile:hover img{
  scale:110%;
  
}

.greet{
  padding-top: 100px;
  padding-bottom: 0;
}




/*Responsive card*/
@media screen and (max-width:  480px) {
  .container {
    justify-content: center;
  }

    .profile {
            margin: 0 10px; /* Reduce the spacing around the profile */
        }
  .container img {
            margin-bottom: 10px; /* Add some spacing below the image on smaller screens */
        }
}


.label {
  
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;
  color: #dce5eb;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  left: 250px;
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
    box-shadow:  41px 41px 82px #81b894,
                -41px -41px 82px #73bf8c;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #ecf0f3;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:  41px 41px 82px #d4dfd8,
                -41px -41px 82px #73bf8c;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}
